@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
img {
  width: 20px;
}
.app {
  height: 100vh;
  display: grid;
  grid-template-columns: minmax(200px, 1fr) 5fr;
}
.panels {
  background: #1992d4;
  color: white;
  padding: 10px;
}

.panel-header {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-bottom: 1.5rem;
}
.panel-header img {
  width: 35px;
}
.panel-menu {
  font-size: 14px;
  align-items: center;
  display: grid;
  grid-template-columns: 30px 1fr;
  grid-template-rows: repeat(9, 40px);
}
.panel-menu span {
  cursor: pointer;
  transition: all 0.2s;
}
.panel-menu span:hover {
  transform: translateX(4px);
  text-decoration: underline;
}
.content {
  display: grid;
  grid-template-rows: 55px 80px 1fr;
}

.content-main {
  display: grid;
  grid-template-columns: minmax(300px, 3fr) minmax(200px, 1fr);
  padding: 1.5em;
  background: #e2e8f0;
}

.projects {
  display: grid;
  grid-template-columns: repeat(2, minmax(250px, 1fr));
  grid-template-rows: 35px repeat(auto-fit, minmax(100px, 1fr));
}
.projects h3 {
  grid-column: 1 / -1;
}

.project-card {
  display: grid;
  grid-template-rows: 1fr 40px;
  align-items: center;
  padding: 5px;
  padding-left: 10px;
  border-radius: 8px;
  border-left: 7px solid rgb(255, 179, 0);
  box-shadow: 2px 2px 5px rgb(130, 129, 129);
  margin-right: 1rem;
  margin-bottom: 1rem;
  background: white;
}

.project-detail {
  font-size: 14px;
  font-weight: 400;
  color: #717375;
}
.project-footer {
  margin-left: auto;
}
.project-footer > * {
  margin-right: 1em;
}

.navbar {
  display: grid;
  margin-top: 12px;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  padding-left: 1.5em;
}
.search {
  display: flex;
  gap: 1em;
  margin-right: 1em;
}
.search-bar {
  background-color: #e2e8f0;
  border-radius: 20px;
  flex: 1;
  border: none;
  outline: none;
  padding: 8px 10px;
  max-width: 400px;
}
.search-bar:focus {
  outline: 1px solid #999;
}
.profile {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1em;
  padding-right: 1em;
}
.profile .profile-img {
  width: 40px;
  border-radius: 50%;
}
.content-header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  box-shadow: 0px 10px 7px -10px rgb(140, 138, 138);
}
.info {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 1em 0 1.1em 1.5em;
}
#greet {
  font-size: 11px;
}
.info .profile-img {
  width: 50px;
  border-radius: 50%;
}
.actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1.5em;
  padding-right: 1em;
}
.actions button {
  padding: 7px 18px;
  color: white;
  font-size: 11px;
  border-radius: 20px;
  background: #1992d4;
  border: none;
}
.content-sidebar {
  display: grid;
  grid-template-rows: 1.2fr 1fr;
  background: #e2e8f0;
}
.announcements {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
  box-shadow: 2px 2px 5px rgb(130, 129, 129);
  padding: 1em;
  border-radius: 8px;
  background: white;
}
.announcements > div {
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #ccc;
}
.announcement-container,
.trending-container {
  display: grid;
  grid-template-rows: 35px 1fr;
}
.announcement-container {
    margin-bottom: 2rem;
}
.trending-container {
    margin-bottom: 1rem;
}
.announcements p {
  font-size: 14px;
  font-weight: 400;
  color: #717375;
}
.announcements h4 {
  font-size: 15px;
}
.trendings {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  box-shadow: 2px 2px 5px rgb(130, 129, 129);
  padding: 1rem;
  background: white;
  border-radius: 8px;
}
.trendings > div {
  display: flex;
  align-items: center;
  gap: 5px;
}
.trendings > div > div {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}
.trendings > div > div p {
  align-self: flex-start;
  color: #717375;
}
.trendings img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

@media screen and (max-width: 950px) {
  .content-sidebar {
    padding-left: 1rem;
  }
}
